# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/
data_env/
.venv/
.env/

# Python IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# MacOS files
.DS_Store

# Logs and temp files
*.log
*.tmp

# Output files from data analysis
*.csv
*.xlsx
*.pkl
*.h5
*.db

